@import "vars"


// ≥1200px
@media (max-width: 1755px)
    .header
        &__logo
            padding-right: 25px
    .nav
        &__link
            font-size: 20px
    .contacts
        &__link
            font-size: 20px
        &__text
            font-size: 16px

// ≥992px
 

// ≥768px
 

// ≥576px